.header {
  $root: &;

  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 90px;
  background-color: $white;

  &__logo {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    // CHANGE LATER ON
    .test {
      width: 40px;
      height: 40px;
      background-color: lightgreen;
      margin: 0 25px;
    }
    // CHANGE LATER ON
    @at-root #{$root}__text {
      display: flex;
      flex-direction: column;

      @at-root #{$root}__indie {
        font-size: 34px;
        font-family: 'majesti', serif;
      }
    }
  }

  &__options {
    display: flex;

    @at-root #{$root}__option {
      margin: 0 30px;
      font-size: $normal-text;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}