.header {
  $root: &;

  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 90px;
  transition: transform .25s ease-in-out;
  background-color: $white;

  @include under-1064 {
    flex-direction: column;
  }

  &--desktop {
    @include under-880 {
      display: none;
    }
  }

  &--mobile {
    position: fixed;
    z-index: 2;
    top: 0;
    display: none;
    background-color: $white;
    height: 100px;
    width: 100vw;

    @include under-880 {
      display: flex;
      align-items: center;
    }
  }

  &.hidden {
    transform: translateY(-90px);
  }

  &__logo {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    &--mobile {
      position: initial;
      transform: scale(0.8);
    }

    @include under-1064 {
      position: initial;
    }

    .logo__container {
      width: 40px;
      height: 40px;
      margin: 0 25px;
    }
    
    @at-root #{$root}__text {
      display: flex;
      flex-direction: column;

      @at-root #{$root}__indie {
        font-size: 34px;
        font-family: 'majesti', serif;
      }
    }
  }

  &__options {
    display: flex;

    @at-root #{$root}__option {
      margin: 0 30px;
      font-size: $normal-text;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__burger {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    background-color: $black;

    &--rows {
      position: relative;
      width: 24px;
      height: 4px;

      &::after {
        position: absolute;
        top: -7px;
        width: 24px;
        height: 4px;
        background-color: $black;
        content: '';
      }

      &::before {
        position: absolute;
        bottom: -7px;
        width: 24px;
        height: 4px;
        background-color: $black;
        content: '';
      }
    }
  }
}