main {
  background-color: lightcyan;
  width: 100vw;
}

.selection {
  $root: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 90px;

  &__day {
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: $big--title;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @at-root #{$root}__article {
      width: calc(50% - 10px);

      .tempomock {
        min-height: 394px;
        width: 100%;
        background-color: lightseagreen;

        @at-root #{$root}__label {
          display: block;
          margin-top: $light--margin;
          width: 102px;
          color: $white;
          padding: 12px 0;
          background-color: $dark--blue;
          font-size: $small--text;
          text-align: center;
          border-radius: 5px;
        }

        @at-root #{$root}__title {
          margin-top: $light--margin;
          font-size: $small--title;
        }

        @at-root #{$root}__desc {
          margin-top: $light--margin;
          font-size: $small--text;
          line-height: 1.7;
        }
      }
    }
  }
}