main {
  background-color: lightcyan;
  width: 100vw;
}

.selection {
  $root: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 90px;
  height: 100vh;

  &__day {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: $big--title;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @at-root #{$root}__article {
      width: calc(50% - 10px);
    }
  }
}

.week {
  $root: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 90px;
  height: 100vh;

  &__day {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: $big--title;
  }

  &__naming {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: $big--title;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 120%;

    @at-root #{$root}__article {
      margin: 0 10px;
    }
  }
}