.search {
  $root-search: &;

  position: fixed;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 90px;
  min-width: 90px;

  &__content {
    display: flex;
    transform: rotate(-90deg);

    @at-root #{$root-search}__text {
      margin-left: $light--margin;
      font-size: $normal-text;
    }
  }

  @include under-880 {
    display: none;
  }
}

.random {
  $root-random: &;

  position: fixed;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 90px;
  min-width: 90px;

  &__content {
    transform: rotate(90deg);

    @at-root #{$root-random}__text {
      font-size: $normal-text;
    }
  }

  @include under-880 {
    display: none;
  }
}