.footer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 54px 90px;
  color: $white;
  background-color: $dark--blue;

  @include under-500 {
    padding: 54px 40px;
  }

  ul {
    display: flex;
    align-items: center;

    &:first-child {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-top: 15px;
    }

    li, a {
      margin: 0 40px;
      color: $white;

      @include under-680 {
        margin: 0 15px;
      }

      &.twitter-logo {
        margin-right: 60px;
      }

      &.facebook-logo {
        margin-right: 66px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}