// Montserrat

@font-face {
  font-family: 'montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


// Majesti

@font-face {
  font-family: 'majesti';
  src: url('../assets/fonts/Majesti/MajestiBanner-Heavy.woff2') format('woff2'),
  url('../assets/fonts/Majesti/MajestiBanner-Heavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
